/*
    Jongleur's Default CSS
    by Nzwlm Jczlit Stmdabct

    version: 1 (mzfo)
*/

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    w3schools.com's grid view
    - - - - - - - - - - - - - - - - - - - - - - - - -
    https://www.w3schools.com/css/css_rwd_grid.asp
*/

* {
    box-sizing: border-box;
}

.row::after {
    content:    "";
    clear:      both;
    display:    table;
}

[class*="col-"] {
    float:      left;
    padding:    15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Responsive layout - adjust the number of columns and adjust width to avoid too large content */
/* area on big screens, and avoid too much blank space on smaller screens */
@media screen and (min-width: 1200px) {
    /* on bigger screens we set a max width, and center the content area (col-10) */
    .col-10  {
        max-width:      1200px;
        float:          none;
        margin-left:    auto;
        margin-right:   auto;
    }
    .col-1 {
        display:        none;
    }
}

@media screen and (max-width: 600px) {
    /* Make the content area (col-10) be full screen, as the padding (col-1) is removed */
    .col-10  {
        width: 100%;
    }
    .col-1 {
        display: none;
    }
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    (simple) grid system
    - - - - - - - - - - - - - - - - - - - - - - - - -
    https://ehtmlu.com/blog/simple-css-image-grid/
    https://codepen.io/eHtmlu/pen/BaodGVp
*/

.simple_grid {
    display:            grid;
    grid-gap:           1.5vw;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.simple_grid img {
    filter:             brightness(100%);
    height:             100%;
    object-fit:         cover;
    opacity:            0.8;
    width:              100%;
}

.simple_grid img:hover {
    filter:             brightness(120%);
    opacity:            1;
}

/* declarations for the image caption. */

.simple_grid .item {
    overflow:           hidden;
    position:           relative;
}

.simple_grid .item img {
    vertical-align:     middle;
}

.simple_grid .caption {
    font-size:          2.5vw;
    margin:             0;
    padding:            1em;
    position:           absolute;
    z-index:            1;
    bottom:             0;
    left:               0;
    width:              100%;
    max-height:         100%;
    overflow:           auto;
    box-sizing:         border-box;
    transition:         transform 0.5s;
    transform:          translateY(100%);
    background:         rgba(0, 0, 0, 0.7);
    color:              rgb(255, 255, 255);
}

.simple_grid .item:hover .caption {
    transform:          translateY(0%);
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    Global variables
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

:root {
  --bg_color:                           #000;
  --button_bg_color:                    #4a0237;
  --button_border_color:                #fc08bb;
  --button_font_color:                  #2aff00;
  --button_hover_bg_color:              #310125;
  --button_hover_border_color:          #fc08bb;
  --button_hover_font_color:            #fc08bb;
  --code_font_color:                    #2aff00;
  --font_color:                         #2aff00;
  --footer_bg_color:                    #4a0237;
  --footer_font_color:                  #000;
  --header_bg_color:                    #000;
  --header_font_color:                  #2aff00;
  --header_link_active_bg_color:        #63034a;
  --header_link_active_font_color:      #2aff00;
  --header_link_inactive_bg_color:      #4a0237;
  --header_link_inactive_font_color:    #2aff00;
  --header_svg_bg_hover_color:          #fc08bb;
  --header_svg_icon_color:              #2aff00;
  --heading_color:                      #fc08bb;
  --hr_border_color:                    #fc08bb;
  --image_border_color:                 #63034a;
  --input_bg_color:                     #2aff00;
  --input_border_color:                 #fc08bb;
  --input_font_color:                   #000;
  --input_placeholder_font_color:       #fc08bb;
  --link_font_color:                    #2aff00;
  --link_hover_bg_color:                #fc08bb;
  --mobile_menu_label_bg_color:         #f007b2;
  --mobile_menu_li_bg_color:            #63034a;
  --mobile_menu_li_bg_hover_color:      #fc08bb;
  --post_ingress_font_color:            #2aff00;
  --post_listing_bg_hover_color:        #4a0237;
  --table_bg_color:                     #310125;
  --table_th_font_color:                #fc08bb;
  --timestamp_font_color:               #2aff00;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    Fonts
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* headings */
@font-face {
    font-family:        MuseoModerno;
    src:                url(fonts/MuseoModerno-VariableFont_wght.ttf);
}

/* body */
@font-face {
    font-family:        Comfortaa;
    src:                url(fonts/Comfortaa-VariableFont_wght.ttf);
}

/* code & timestamp*/
@font-face {
    font-family:        Inconsolata;
    src:                url(fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    default main styles
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

html {
    color:              var(--font_color);
    font-family:        Comfortaa;
    font-size:          3vw;
}

body {
    background-color:   var(--bg_color);
}

p {
    padding-top:        0px;
}

/* links */

a {
    color:              var(--link_font_color);
}

a:hover {
    background-color:   var(--link_hover_bg_color);
}

/* headings */

h1, .h1 {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          6vw;
    font-weight:        200;
    margin-bottom:      0px;
    margin-top:         0px;
    word-wrap:          break-word;
}

h2, .h2 {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          5vw;
    font-weight:        200;
    margin-bottom:      0px;
    margin-top:         0px;
    word-wrap:          break-word;
}

h3, .h3 {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          4vw;
    font-weight:        200;
    margin-bottom:      0px;
    margin-top:         0px;
    word-wrap:          break-word;
}

h4, .h4 {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          3vw;
    font-weight:        200;
    margin-bottom:      0px;
    margin-top:         0px;
    word-wrap:          break-word;
}

h5, .h5 {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          2vw;
    font-weight:        200;
    margin-bottom:      0px;
    margin-top:         0px;
    word-wrap:          break-word;
}

/* table */

table {
    background-color:   var(--table_bg_color);
    border-collapse:    collapse;
    border-radius:      5px;
    font-size:          2.5vw;
}

th {
    color:              var(--table_th_font_color);
    padding:            1vw;
    text-align:         left;
    vertical-align:     top;
}

td {
    padding:            2vw;
    vertical-align:     top;
}

/* code */

code {
    color:              var(--code_font_color);
    font-family:        Inconsolata;
    font-size:          2.5vw;
    font-weight:        300;
    white-space:        pre-wrap;
}

/* images */

img {
    border-radius:      5px;
    border:             1px solid var(--image_border_color);
    max-width:          100%;
}

/* horizontal line */
/* https://www.cssportal.com/blog/style-hr-tag-with-css/ */
/* NOTE: do NOT sort the attributes in "hr{}", the given order is needed for the style to work! */

hr {
    background-image:   linear-gradient(to right, var(--hr_border_color) 0%, var(--hr_border_color) 0%, rgba(0, 0, 0, 0));
    border:             0;
    height:             1px;
}

/* input fields */

input {
    background-color:   var(--input_bg_color);
    border-color:       var(--input_border_color);
    border-radius:      8px;
    border-style:       solid;
    border-width:       1px;
    color:              var(--input_font_color);
    font-size:          2.5vw;
    padding:            0.5vw 1.5vw;
}

::placeholder {
  color: red;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    header - banner at the top of the page
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.header {
    background-color:   var(--header_bg_color);
    border-radius:      8px;
    color:              var(--header_font_color);
    font-size:          2vw;
    padding:            2vw;
    text-align:         center;
    word-wrap:          break-word;
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.header_link_active {
    background-color:   var(--header_link_active_bg_color);
    border-radius:      8px;
    color:              var(--header_link_active_font_color);
    font-family:        MuseoModerno;
    overflow:           hidden;
    padding:            0.5vw 1.5vw;
    text-decoration:    overline;
    text-overflow:      ellipsis;
    white-space:        nowrap;
}

.header_link_inactive {
    background-color:   var(--header_link_inactive_bg_color);
    border-radius:      8px;
    color:              var(--header_link_inactive_font_color);
    font-family:        MuseoModerno;
    overflow:           hidden;
    padding:            0.5vw 1.5vw;
    text-decoration:    none;
    text-overflow:      ellipsis;
    white-space:        nowrap;
}

.header_link_spacing {
    padding-left:       1vw;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    (main) styling of the content / posts that are presented
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.post_title {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          6vw;
    font-weight:        200;
    word-wrap:          break-word;
}

.post_ingress {
    color:              var(--post_ingress_font_color);
    font-family:        Comfortaa;
    font-size:          3.5vw;
    font-weight:        200;
    line-height:        1.5;
}

.post_main {
    font-size:          2.5vw;
    line-height:        1.6;
    overflow-x:         auto;
    word-wrap:          break-word;
}

.timestamp {
    color:              var(--timestamp_font_color);
    font-family:        Inconsolata;
    font-size:          1.5vw;
}

.comments {
    padding-top:        3vw;
}

.button {
    background-color:   var(--button_bg_color);
    border-color:       var(--button_border_color);
    border-radius:      8px;
    border-style:       solid;
    border-width:       1px;
    color:              var(--button_font_color);
    cursor:             pointer;
    font-size:          2.5vw;
    padding:            0.5vw 1.5vw;
}

.button:hover {
    background-color:   var(--button_hover_bg_color);
    border-color:       var(--button_hover_border_color);
    border-style:       dotted;
    color:              var(--button_hover_font_color);
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    listing of posts (lop)
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* lop_l1 (listing of posts, layout 1) - image focus layout */
.lop_l1 {
    background-position:50% 35%;
    background-repeat:  no-repeat;
    background-color:   #fff;
    border-radius:      5px;
    display:            block;
    filter:             grayscale(20%);
    font-size:          3vw;
    height:             40vw;
    opacity:            0.8;
    text-align:         center;
    vertical-align:     middle;
    width:              100%;
}

.lop_l1:hover {
    filter:             grayscale(0%);
    opacity:            1;
}

.lop_l1_title {
    background:         rgba(0, 0, 0, 0.7);
    color:              #fff;
}

.lop_l1 img {
    filter:             grayscale(100%);
    object-fit:         cover;
    opacity:            0.8;
    width:              100%;
}

.lop_l1 img:hover {
    filter:             grayscale(0%);
    opacity:            1;
}

/* lop-l2 (listing of posts, layout 2) - text focus layout */

.lop_l2 {
    line-height:        1.2;
    padding-bottom:     4vw;
}

.lop_l2_heading {
    color:              var(--heading_color);
    font-family:        MuseoModerno;
    font-size:          3vw;
    font-weight:        200;
    word-wrap:          break-word;
}

.lop_l2_heading:hover {
    background-color:   var(--post_listing_bg_hover_color);
}

.lop_l2_ingress {
    font-size:          2vw;
    line-height:        1.8;
}

.lop_l2_readmore {
    font-size:          1.5vw;
}

/*
    external link icon (for links of the type [e:link_name](url))
*/
.external_link_icon {
    font-size:          1.2vw;
    vertical-align:     top;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    footer - banner at the bottom of the page
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.footer {
    background-color:   var(--footer_bg_color);
    border-radius:      5px;
    color:              var(--footer_font_color);
    font-size:          1.5vw;
    padding:            1vw;
    text-align:         center;
    word-wrap:          break-word;
}

.footer a {
    border-radius:      8px;
    color:              var(--footer_font_color);
    padding:            0.5vw 1vw;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    svg icons in the header
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.header_svg_icon {
    width:              3vw;
    height:             3vw;
}

.header_svg_icon:hover {
    fill:              red;
}


.header_svg_icon path, .header-svg-icon polygon, .header-svg-icon rect {
    fill:              var(--header_svg_icon_color);
}

.header_svg_icon circle {
    stroke:             #4691f6;
    stroke-width:       1;
}

.header_svg_icon_button {
    align-items:        center;
    background-color:   transparent;
    border:             0px;
    color:              var(--header_font_color);
    cursor:             pointer;
    display:            flex;
    font-size:          1.8vw;
    justify-content:    center;
    border-radius:      8px;
}

.header_svg_icon_button:hover {
    background-color:   var(--header_svg_bg_hover_color);
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    utteranc.es (commenting) specific adjustments
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.utterances {
    float:              left;
    max-width:          100% !important;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    videos
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.video_container {
    position:           relative;
    width:              100%;
    height:             0;
    padding-bottom:     56.25%;
}

.video_iframe {
    position:           absolute;
    top:                0;
    left:               0;
    width:              100%;
    height:             100%;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    mobile menu (mob-menu)
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

span#mob-menu ul {
    list-style:         none;
    margin:             0;
    padding:            0;
    width:              100%;
    margin:             0px;
}

span#mob-menu ul li {
    font-size:          2.5vw;
    display:            block;
    background:         var(--mobile_menu_li_bg_color);
    border-top:         1px solid rgba(255,255,255,.3);
}

span#mob-menu ul li:hover {
    background:         var(--mobile_menu_li_bg_color);
}

span#mob-menu ul li:last-child {
    border-bottom-left-radius:    6px;
    border-bottom-right-radius:   6px;
}

span#mob-menu label:before {
    height:             2px;
    width:              20px;
    background:         white;
    display:            inline-block;
    content:            "";
    box-shadow:         0px -5px 0px 0px  white,
                        0px -10px 0px 0px white;
    margin-right:       10px;
    transition:         all .5s;
    position:           relative;
    opacity:            0.5;
}

span#mob-menu label {
    background:        var(--mobile_menu_label_bg_color);
    color:             white;
    cursor:            pointer;
    display:           block;
    padding:           10px;
    border-top-left-radius:    6px;
    border-top-right-radius:   6px;
}

span#mob-menu input[type="checkbox"] {
    visibility:         hidden;
    position:           absolute;
}

span#mob-menu #collapse:checked ~ li{
    display:            none;
    margin-top:         0;
}

span#mob-menu #collapse:checked + label:before{
    opacity:            1;
}

.header_link_active_mobile {
    color:              var(--header_link_active_font_color);
    display:            block;
    font-family:        MuseoModerno;
    overflow:           hidden;
    padding:            3.1vw 0 3.1vw 2vw;
    text-decoration:    overline underline;
    text-overflow:      ellipsis;
    white-space:        nowrap;
}

.header_link_inactive_mobile {
    color:              var(--header_link_inactive_font_color);
    display:            block;
    font-family:        MuseoModerno;
    overflow:           hidden;
    padding:            3.1vw 0 3.1vw 2vw;
    text-decoration:    none;
    text-overflow:      ellipsis;
    white-space:        nowrap;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    create nice effect on hover for images
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.image_effect_on_hover {
    opacity:            0.9;
    filter:             grayscale(10%);
}

.image_effect_on_hover:hover {
    opacity:            1;
    filter:             grayscale(0);
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    remove styling
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.no_style {
    background-color:   transparent;
    text-decoration:    none;
}

.no_style:hover {
    background-color:   transparent;
    text-decoration:    none;
}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    screen size adjustments
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* avoid too large sizes, by setting a max size for bigger screens */
/* when the limit is 1000 px you can simply multiply the vw value with 10 */
/* for example, 8vw equals 80px when with is 1000 px */
@media only screen and (min-width: 1000px) {
    .simple_grid{grid-gap: 15px;}
    .simple_grid .caption {font-size: 25px;}
    html {font-size: 30px;}
    h1, .h1 {font-size: 60px;}
    h2, .h2 {font-size: 50px;}
    h3, .h3 {font-size: 40px;}
    h4, .h4 {font-size: 30px;}
    h5, .h5 {font-size: 20px;}
    table {font-size: 25px;}
    th {padding: 10px;}
    td {padding: 20px;}
    code {font-size: 25px;}
    .header {
        font-size: 20px;
        padding: 20px;
    }
    .header_link_active, .header_link_inactive {
        padding: 5px 15px;
    }
    .header_link_spacing{padding-left: 10px;}
    .post_title {font-size: 60px;}
    .post_ingress {font-size: 35px;}
    .post_main {font-size: 25px;}
    .timestamp {font-size: 15px;}
    .comments {padding-top: 30px;}
    .button {
        font-size: 25px;
        padding: 5px 15px;
    }
    .lop_l1 {
        font-size: 30px;
        height: 400px;
    }
    .lop_l2 {padding-bottom: 40px;}
    .lop_l2_heading {font-size: 30px;}
    .lop_l2_ingress {font-size: 20px;}
    .lop_l2_readmore {font-size: 15px;}
    .external_link_icon {font-size: 12px;}
    .footer{padding: 10px;}
    .footer a {padding: 5px 10px;}
    .header_svg_icon {
        width: 30px;
        height: 30px;
    }
    .header_svg_icon_button {font-size: 18px;}
}

/* avoid too small sizes */
@media only screen and (max-width: 600px) {
    .simple_grid .caption {font-size: 15px;}
    .lop_l1 {font-size: 15px;}
}

/* hide and display elements on mobile and desktop */
@media only screen and (max-width: 400px) {
    /* hide "hideable/hide_on_mobile" classes on screens with sizes up to x px */
    .hide_on_mobile {
        display: none;
    }
}

@media only screen and (min-width: 400px) {
    /* hide "display_on_mobile" classes on screens with sizes down to x px */
    .display_on_mobile {
        display: none;
    }
}
